@keyframes neonBleu {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px blue, 0 0 30px #000080, 0 0 6px #0000ff;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonRouge {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonVert {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px green, 0 0 30px #008000, 0 0 6px #00ff00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonOrange {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px #FF7F00, 0 0 30px #FF7F00, 0 0 6px #FF7F00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonJaune {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px #FFFF00, 0 0 30px #FFFF00, 0 0 6px #FFFF00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonRose {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px #FF00FF, 0 0 30px #FF00FF, 0 0 6px #FF00FF;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes neonTurquoise {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        text-shadow: 0 0 80px #00CED1, 0 0 30px #00CED1, 0 0 6px #00CED1;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes progressBar {
    from {box-shadow: 0 0 80px #FF0000, 0 0 30px #FF0000, 0 0 6px #FF0000; width:0%}
    16.66% {box-shadow: 0 0 80px #FF7F00, 0 0 30px #FF7F00, 0 0 6px #FF7F00}
    33.33% {box-shadow: 0 0 80px #FFFF00, 0 0 30px #FFFF00, 0 0 6px #FFFF00}
    49.99% {box-shadow: 0 0 80px #00FF00, 0 0 30px #00FF00, 0 0 6px #00FF00}
    66.66% {box-shadow: 0 0 80px #0000FF, 0 0 30px #0000FF, 0 0 6px #0000FF}
    83.33% {box-shadow: 0 0 80px #4B0082, 0 0 30px #4B0082, 0 0 6px #4B0082}
    to {box-shadow: 0 0 80px #9400D3, 0 0 30px #9400D3, 0 0 6px #9400D3; width:100%}

}

@keyframes rainbow {
    from {text-shadow: 0 0 80px #FF0000, 0 0 30px #FF0000, 0 0 6px #FF0000}
    16.66% {text-shadow: 0 0 80px #FF7F00, 0 0 30px #FF7F00, 0 0 6px #FF7F00}
    33.33% {text-shadow: 0 0 80px #FFFF00, 0 0 30px #FFFF00, 0 0 6px #FFFF00}
    49.99% {text-shadow: 0 0 80px #00FF00, 0 0 30px #00FF00, 0 0 6px #00FF00}
    66.66% {text-shadow: 0 0 80px #0000FF, 0 0 30px #0000FF, 0 0 6px #0000FF}
    83.33% {text-shadow: 0 0 80px #4B0082, 0 0 30px #4B0082, 0 0 6px #4B0082}
    to {text-shadow: 0 0 80px #9400D3, 0 0 30px #9400D3, 0 0 6px #9400D3}
}

@keyframes rainbow2 {
    from {box-shadow: 0 0 80px #FF0000, 0 0 30px #FF0000, 0 0 6px #FF0000}
    16.66% {box-shadow: 0 0 80px #FF7F00, 0 0 30px #FF7F00, 0 0 6px #FF7F00}
    33.33% {box-shadow: 0 0 80px #FFFF00, 0 0 30px #FFFF00, 0 0 6px #FFFF00}
    49.99% {box-shadow: 0 0 80px #00FF00, 0 0 30px #00FF00, 0 0 6px #00FF00}
    66.66% {box-shadow: 0 0 80px #0000FF, 0 0 30px #0000FF, 0 0 6px #0000FF}
    83.33% {box-shadow: 0 0 80px #4B0082, 0 0 30px #4B0082, 0 0 6px #4B0082}
    to {box-shadow: 0 0 80px #9400D3, 0 0 30px #9400D3, 0 0 6px #9400D3}
}

@keyframes rotate {
    from {
        transform: rotateX(0) rotateY(0) rotateZ(0) scale(1) ;
    }
    to {
        transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg) scale(2) ;
    }
}

@keyframes boxBleu {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px blue, 0 0 30px #000080, 0 0 6px #0000ff;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxRouge {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxVert {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px green, 0 0 30px #008000, 0 0 6px #00ff00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxOrange {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px #FF7F00, 0 0 30px #FF7F00, 0 0 6px #FF7F00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxJaune {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px #FFFF00, 0 0 30px #FFFF00, 0 0 6px #FFFF00;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxRose {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px #FF00FF, 0 0 30px #FF00FF, 0 0 6px #FF00FF;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes boxTurquoise {
    0%, 12%, 18%, 23%, 31%, 37%, 44%, 46%, 49%, 51%, 58%, 61%, 68%, 71%, 85%, 96%, 100% {
        opacity: 0.99;
        box-shadow: 0 0 80px #00CED1, 0 0 30px #00CED1, 0 0 6px #00CED1;
    }
    19%, 22%, 32%, 36%, 45%, 50%, 59%, 60%, 69%, 70%, 86%, 95% {
        opacity: 0.4;
        box-shadow: none;
    }
}

@keyframes pulse {
    from {transform: scale(1);}
    50% {transform: scale(2);}
    to {transform: scale(1);}
}

@keyframes pulse2 {
    from {transform: scale(1);}
    50% {transform: scale(1.1);}
    to {transfomr: scale(1);}
}

@keyframes glow {
    0%, 100% {
        color: #FFF;
        text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }

    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}
