@import "bootstrap.min.css" ;
@import "_bootstrap.scss" ;
@import "keyframes.scss" ;

@font-face {
    font-family: manga ;
    src: url('../font/MangaStyle.ttf');
}

@font-face {
    font-family: cyber ;
    src: url('../font/CIND.otf') ;
}

* {
    box-sizing: border-box ;
}

html {
    max-width: 100% ;
    overflow-x: hidden ;
}

body {
    width: 100% ;
    height: auto ;
    display: block ;
    margin: 0 ;
    padding: 0 ;
    background-color: #111111  ;
    background-size: 100% ;
    background-repeat: repeat ;
    background-attachment: fixed ;
}

#home {
    font-family: manga ;
    font-size: 1rem ;
}

header {
    text-align: center ;
}

h1 {
    text-align: center ;
    background-opacity: 0 ;
    font-family: manga ;
    font-size: 7rem ;
    @media screen and (max-width: 720px) {
        font-size: 4rem ;
        margin-top: 10% ;
    }
    font-weight: bold ;
    color: white ;
    margin: 5% ;
    animation: rainbow 2s linear alternate infinite ;
}

a {
    color: #111 ;
    font-family: cyber, cursive ;
    font-size: 1.25rem ;
    animation: glow 2s ease-in-out infinite ;
    &:hover {
        animation: pulse2 0.5s linear infinite ;
    }
}

#home {
    animation-delay: 0.1s ;
}
#dancing {
    animation-delay: 0.2s ;
}
#tictac {
    animation-delay: 0.3s ;
}
#ajaxchat {
    animation-delay: 0.4s ;
}
#user_api {
    animation-delay: 0.5s ;
}
#post_api {
    animation-delay: 0.6s ;
}
#blog_api {
    animation-delay: 0.7s ;
}
#contact {
    animation-delay: 0.8s ;
}
#sololearn {
    animation-delay: 0.9s ;
}
#gitlab {
    animation-delay: 1s ;
}

#presentation {
    text-align: right ;
    align-items: center ;
    font-family: cyber, cursive;
    font-size: 2rem;
    font-weight: initial ;
    color: white ;
    margin: 0% 0% 0% 0% ;
    animation: neonBleu 4s linear alternate infinite ;
    @media screen and (max-width: 720px) {
        font-size: 1rem ;
        text-align: center ;
        margin-top: 2% ;
    }
}

.choix {
    display: block ;
    margin-top: 15% ;
    text-align: center ;
    background-opacity: 0 ;
    font-size: 7rem ;
    @media screen and (max-width: 720px) {
        font-size: 4rem ;
    }
    font-weight: bold ;
    color: white ;
    animation: rainbow 2s linear alternate infinite ;
}

.niveau {
    display: none ;
    margin-top: 15% ;
    text-align: center ;
    background-opacity: 0 ;
    font-size: 7rem ;
    @media screen and (max-width: 720px) {
        font-size: 4rem ;
    }
    font-weight: bold ;
    color: white ;
    animation: rainbow 2s linear alternate infinite ;
}

#contreIA, #contreJoueur {
    display: inline ;
    text-align: center ;
    border-radius: 5% ;
    border-style: none ;
    padding: 1% ;
    background-color: #111111 ;
    cursor: pointer ;
    font-size: 5rem ;
    @media screen and (max-width: 720px) {
        font-size: 3rem ;
    }
    font-weight: bold ;
    color: white ;
    animation: rainbow 2s linear alternate infinite ;
}

#facile, #normal, #difficile {
    display: inline ;
    text-align: center ;
    border-radius: 5% ;
    border-style: none ;
    padding: 1% ;
    background-color: #111111 ;
    cursor: pointer ;
    font-size: 5rem ;
    @media screen and (max-width: 720px) {
        font-size: 3rem ;
    }
    font-weight: bold ;
    color: white ;
    animation: rainbow 2s linear alternate infinite ;
}

.tictac {
    display:none ;
    z-index: 0 ;
}

table {
    width: 50% ;
    @media screen and (max-width: 720px) {
        width: 90% ;
    }
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 5% ;
    border-collapse: collapse ;
    font-size: 6rem ;
    font-weight: bold ;
    @media screen and (max-width:720px) {
        font-size: 2rem ;
        margin-top: 15% ;
    }
    animation: rainbow 2s linear alternate infinite ;
}

table tr:first-child td {
    border-top: 0 ;
}
table tr:last-child td {
    border-bottom: 0 ;
}       
table tr td:first-child {
    border-left: 0 ;
} 
table tr td:last-child {
    border-right: 0 ; 
}


td
{
    width: 200px ;
    height: 200px ;
    @media screen and (max-width: 720px) {
        width: 133px ;
        height: 133px ;
    }
    border: solid 2px black ;
    text-align: center ;
    vertical-align: middle ;
    cursor: pointer ;
    border-color : white ;
    color : white ;
    font-family: manga;
    animation: rainbow2 2s linear alternate infinite ;
}

.fin {
    display: block ;
    text-align: center ;
    position: absolute ;
    top: 36% ;
    left: 25% ;
    right: 25% ;
    z-index: 1 ;
    background-opacity: 0 ;
    font-size: 5rem;
    @media screen and (max-width: 720px) {
        font-size: 2rem ;
    }
    font-weight: bold;
    font-family: manga ;
    color: white;
    animation: rainbow 2s linear alternate infinite;
}

#replay {
    display: none ;
    text-align: center ;
    border-radius: 5% ;
    border-style: none ;
    cursor: pointer ;
    padding: 0.5% ;
    background-color: #111111 ;
    font-size: 3rem;
    @media screen and (max-width: 720px) {
        font-size: 2rem ;
    }
    font-weight: bold;
    font-family: manga ;
    color: white;
    animation: rainbow 2s linear alternate infinite;
}

